<!DOCTYPE html>
<html>
    <head>
        <title>uBooty - Universal bootstrapping for linux</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            {{ content }}
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="bootstrap.min.js"></script>
    </body>
</html>
